<div class="mt-2" style="overflow-x: hidden;">
  <h1>Add Products</h1>
  <form class="mt-3" [formGroup]="listFirstForm" (ngSubmit)="onSubmit()">
    <div class="row row-cols-4">
      <div class="col mb-3">
        <label for="category">Category:</label>
        <select class="form-select form-select-sm" id="category" (change)="changeSelection($event, 'category')" formControlName="category">
          <option selected disabled>Choose One...</option>
          <option [value]="category" *ngFor="let category of categories">{{category}}</option>
        </select>
      </div>

      <div class="col mb-3">
        <label for="category">Design Brand:</label>
        <input type="text" class="form-control form-control-sm" id="designBrand" placeholder="RSDX"  formControlName="designBrand">
      </div>

      <div class="col mb-3">
        <label for="quantity">Miktar:</label>
        <input type="number" class="form-control form-control-sm" id="quantity" placeholder="20"  formControlName="quantity">
      </div>

      <div class="col mb-3">
        <label for="rawMaterial">Raw Material:</label>
        <select class="form-select form-select-sm" id="rawMaterial" (change)="changeSelection($event, 'rawMaterial')" formControlName="rawMaterial">
          <option selected disabled>Choose One...</option>
          <option [value]="rawMaterial.YELLOW_RESIN" selected>{{rawMaterial.YELLOW_RESIN}}</option>
          <option [value]="rawMaterial.RED_RESIN">{{rawMaterial.RED_RESIN}}</option>
        </select>
      </div>

      <div class="col mb-3">
        <label for="style">Style:</label>
        <select class="form-select form-select-sm" id="style" (change)="changeSelection($event, 'style')" formControlName="style">
          <option disabled>Choose One...</option>
          <option value="With Stone">With Stone</option>
          <option value="No Stone">No Stone</option>
        </select>
      </div>

      <div class="col mb-3">
        <label for="fullsetAttribute">Fullset Attribute:</label>
        <input type="text" class="form-control form-control-sm" id="fullsetAttribute" placeholder="Bangle"  formControlName="fullsetAttribute">
      </div>

    </div>

    <div class="row" *ngIf="!isTagInputHidden">
      <div class="col-6">
        <label>Postfix</label>
        <app-chips-tag-input (valuesToBeSent)="setTags($event)"></app-chips-tag-input>
      </div>
    </div>

    <div class="d-flex justify-content-between my-3">
      <button class="btn btn-sm btn-danger px-3" type="button" [disabled]="!listFirstForm.value.designBrand" (click)="deleteBrand()">Delete Brand</button>
      <div class="d-flex justify-content-end gap-3">
        <button class="btn btn-sm btn-primary px-3" (click)="editTable()">Edit Table</button>
        <button class="btn btn-sm btn-primary px-3" (click)="exportTableToExcel()">Export CSV</button>
        <button class="btn btn-sm btn-primary px-3" (click)="exportToExcel()">Export Excel</button>

        <button class="btn btn-sm btn-success px-3" type="submit" [disabled]="!listFirstForm.valid">Add</button>
      </div>
    </div>



  </form>


</div>

<ng-container *ngIf="isEdit">
  <div class="mt-2" style="max-height: 420px; overflow-y: auto;" *ngIf="(products$ | async) as products">
    <app-editable-table *ngIf="products.length"
      [tableData]="products"
      (dataChanged)="onDataChanged($event)"
      (dataDeleted)="onDataDeleted($event)">
    </app-editable-table>
  </div>
</ng-container>

<ng-container *ngIf="!isEdit">
  <div style="max-height: 500px; overflow-y: auto;">
    <app-table></app-table>
  </div>
</ng-container>





