<div class="row">
  <div class="col-12 mb-3">
    <h1>Add Weight</h1>

    <div style="max-height: 400px; overflow-y: auto;">
      <app-table></app-table>
    </div>

  </div>
  <div class="col-4">
    <div class="form-group">
      <input type="file" class="form-control" (change)="uploadFile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"  multiple="false">
    </div>
  </div>

  <div class="col-8" style="max-height: 520px; overflow-y: auto;" *ngIf="(productWeights$ | async) as productWeights">

    <table class="table table-striped" id="excel-table" *ngIf="productWeights.length">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let item of productWeights[0]">{{item}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of productWeights; let i = index">
          <ng-container *ngIf="i !== 0">
            <td>{{i}}</td>
            <td *ngFor="let cell of row">{{ cell }}</td>
          </ng-container>
        </tr>

      </tbody>
    </table>
  </div>









</div>

