<div class="row">
  <div class="col-12 mb-3">
    <h1>Add Weight</h1>

    <div style="max-height: 400px; overflow-y: auto;">
      <app-table></app-table>
    </div>

  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="fullsetAttribute">Import Weights:</label>
      <input type="file" class="form-control form-control-sm" (change)="uploadFile($event)"  placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"  multiple="false" #fileInput>
    </div>
    <div class="mt-3" *ngIf="(productWeights$ | async) as productWeights">
      <button class="btn btn-primary btn-sm" (click)= "setWeight()" [disabled]="isDisable">Set Weight</button>
    </div>
  </div>

  <div class="col-8" style="max-height: 420px; overflow-y: auto;" *ngIf="(productWeights$ | async) as productWeights">
    <app-editable-table *ngIf="productWeights.length"
    [tableData]="productWeights"
    (dataChanged)="onDataChanged($event)">
  </app-editable-table>
  </div>

</div>

