<div class="row">
  <div class="col-12 mb-3">
    <h1>Add Weight</h1>

    <div style="max-height: 400px; overflow-y: auto;">
      <app-table></app-table>
    </div>

  </div>
  <div class="col-4">
   <div class="mt-3">
      <button class="btn btn-primary btn-sm" (click)= "downloadKarat()">Download Karat</button>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary btn-sm" (click)= "downloadOrderType()">Download Order Type</button>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary btn-sm" (click)= "downloadImageImport()">Download Image Import-1</button>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary btn-sm" (click)= "downloadImageImportExtra()">Download Image Import-2</button>
    </div>
  </div>

  <!-- <div class="col-8" style="max-height: 420px; overflow-y: auto;" *ngIf="(relationships$ | async) as relationships">

    <table class="table table-striped" id="excel-table" *ngIf="relationships.length">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Ext ID</th>
          <th scope="col">Combined Related</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let relation of relationships; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ relation.name }}</td>
          <td>{{ relation.externalId }}</td>
          <td>{{ relation.combinedRelated }}</td>
        </tr>

      </tbody>
    </table>
  </div> -->


</div>

