<ng-container *ngIf="(products$ | async) as products">

  <table class="table table-striped" id="excel-table" *ngIf="products.length">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Design Category</th>
        <th scope="col">Category</th>
        <th scope="col">Design Brand</th>
        <th scope="col">Design Code</th>
        <th scope="col">Ext Id</th>
        <th scope="col">Product Attributes</th>
        <th scope="col">Product Attributes Values</th>
        <th scope="col">Raw Mat</th>
        <th scope="col">Style</th>
        <th scope="col">Resin Weight</th>
        <th scope="col">22 Weight</th>
        <th scope="col">21 Weight</th>
        <th scope="col">18 Weight</th>
        <th scope="col">14 Weight</th>
        <th scope="col">Price Print</th>
        <th scope="col">Price Resin</th>
        <th scope="col">Price Gold</th>
        <th scope="col">Fullset Attr</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products; let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.designCategory | slice:-12}}</td>
        <td>{{item.category}}</td>
        <td>{{item.designBrand}}</td>
        <td>{{item.designCode}}</td>
        <td>{{item.externalId | slice:-9}}</td>
        <td>{{item.attribute}}</td>
        <td>{{item.attributeValue}}</td>
        <td>{{item.rawMaterial}}</td>
        <td>{{item.style | slice:0:8}}</td>
        <td>{{item.weightResin}}</td>
        <td>{{item.weight22Kt}}</td>
        <td>{{item.weight21Kt}}</td>
        <td>{{item.weight18Kt}}</td>
        <td>{{item.weight14Kt}}</td>
        <td>{{item.pricePrintable}}</td>
        <td>{{item.priceResin}}</td>
        <td>{{item.priceGold}}</td>

        <td>{{item.fullsetAttribute}}</td>
      </tr>

    </tbody>
  </table>
</ng-container>
